.Pagination {
  text-align: center;
}

p {
  background-color: white;
  padding: 5px;
}
.pages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container {
  background-color: #eee;
  height: 650px;
  overflow-y: scroll;
}
.page {
  padding: 10px;
  background-color: rgb(255, 255, 255);
  margin: 2px;
}
.current {
  background-color: dodgerblue;
  padding: 10px;
}
